/* AudioPlayer.css */
.audio-player {
    color: aliceblue;
    max-width: 400px;
    margin: 20px auto;
    padding: 6%;
    background-color:   #191B20;;
    border-radius: 8px;
    margin-top: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .song-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .progress-bar {
    width: 100%;
    margin-top: 10px;
  }
  
  .time {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
 
  
 
.btnicon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  
   
}
.btnicon svg,span{
    cursor: pointer;
}
.fiv-1{
   position: absolute;
   left: 33%; 
   font-size: 8px;
   transform: translateY(8px);
}
.fiv-2{
   position: absolute;
   left:74.5%; 
   font-size: 8px;
   transform: translateY(-3px);
}
.playbtn {
    width: 60px;
    height: 60px;
    margin: 8px;
    margin-left: 4.3px;
    margin-right: 3.7px;
    display: flex;
    inline-size: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
  }

input[type="range"]{
    cursor: pointer;
}
 
  

 
  


  

  