.subheading{
    color: rgb(247, 246, 246,.5);
    font-size: 14px;
}

.subdetail{
    color: rgb(247, 246, 246,.5);
    display: flex ;
    justify-content: space-between;
}
.courserander{
    display: flex;
    gap: 20px;
    overflow: auto;
    min-height: fit-content;
    overscroll-behavior-x:auto;
}
.courserander::-webkit-scrollbar{
    width: 0;
}